/*! NavBar */
.navBar{
    background: linear-gradient(to bottom, #2e03bb, #020257);
    padding: 1rem 0.5rem;
}
.navBar__ul__li{
    display: flex;
    gap: 1rem;
}
.navBar__ul__li__link{
    color: ghostwhite;
    text-decoration: none;
}
/*? Menu de filtros*/
.standingPage__filter,
.teamPage__filter{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: ghostwhite;
    background: linear-gradient(to right, #2e03bb, #020257);
    padding: 1rem 0.3rem;
}
/*! CountrySelect*/
/*! Header*/
.header{
    background-color: black;
    display: flex;
    justify-content: center;
}
.header__div{
    display: flex;
    align-items: center;
    background-image: url("/images/mundoFutbol3.webp");
    background-size: cover;
    height: 35vh;
    width: 900px;
}
.header__h1{
    color: ghostwhite;
    margin-left: 3rem;
    font-size: 70px;
    text-shadow: 5px 5px 10px black;
}
/*! Competition */
.competition{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
.competition__article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.7rem;
    gap: 0.7rem;
}
.competition__h2{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
/*! CompetitionCard */
.competition__article__div{
    background-color: rgba(5, 5, 128, 0.97);
    color: ghostwhite;
    border-radius: 0.1rem 0.9rem 0.2rem 0.1rem;
    padding: 0.5rem;
    display: flex;
    gap: 0.7rem;
}

.competition__article__div__ul__li{
    list-style: none;
}
.competition__article__div__ul__img{
    width: 30px;
    height: 30px;
}

@media (max-width:540px){
    /*! NavBar */
    .navBar{
        padding: 1rem 0.5rem;
    }
    .navBar__ul__li{
        gap: 0.5rem;
    }
    /*? Menu de filtros*/
    .standingPage__filter,
    .teamPage__filter{
        padding: 0.7rem 0.3rem;
    }
    /*! Competition */
    .competition__article{
        font-size: 0.6rem;
        gap: 0.4rem;
    }
    .competition__h2{
        font-size: 1.3rem;
    }
    /*! CompetitionCard */
    .competition__article__div{
        padding: 0.4rem;
        gap: 0.4rem;
    }
    .competition__article__div__ul__img{
        width: 25px;
        height: 25px;
    }
}